.Bits--container{
    position: absolute;
    cursor: move;
    color: black;
    max-width: auto;
    border-radius: 10px;
    padding: .2em;
    margin: auto;
    user-select: none;
    background-color: lightgrey;
    z-index: 2;
}

.Bits--container::after{
    content: "";
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 10px;
    --spacer: .2em;
    top:var(--spacer) ;
    bottom:var(--spacer) ;
    left:var(--spacer) ;
    right:var(--spacer) ;
    /* This allows parent element to be above this psudeo element */
    position: absolute;
    z-index: -1;
}

.Bits--topBar{
    background-color: blue;
    border-radius: 5px;
    width: 100%;
}
.Bits--closeWindow{
    font-size: medium;
    margin-left: 95%;
    border-radius: 5px;
}
.Bits--container > img{
    height: 120px;
    margin: 5px;
    width: 120px;
}
.Bits--container > h4{
    align-content: center;
}
