.container{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg,rgb(182, 80, 238) 5.67%, #EE6334 100% );
    
}

.header--nameAndimageDiv{
    margin: auto;
    margin-left: 1em;
    color: white;
}

.header--bAndWTroy{
    height: 13em;
    width: 10em;
    margin-top: 10px;
    border-radius: 50%;
}

.header--name{
    letter-spacing: .1em;
    margin: 2rem;
    color: rgba(255, 255, 255, 0.738);
    text-shadow: .3em .2em .1em rgba(25,25,25, 0.5);
}

.header--infoDiv{
    margin-left: 2em;
}

header > div > h3{
    letter-spacing: -.05em;
    margin: 2rem;
    color: rgba(255, 255, 255, 0.738);
    text-shadow: .3em .2em .3em rgba(25,25,25, 0.5);
}

.email{
    margin-right: 2rem;
}

.header--timeContainer{
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 5px 3px 7px black;
}

.time--text{
    color: white;
    filter: drop-shadow(3px 6px 3px rgb(0, 0, 0));
}

#time{
    font-size: 1.2em;
    color: white;
    margin: 20px;
    filter: drop-shadow(3px 6px 3px rgb(0, 0, 0));
}