.profile--container{
    display: box;
}


@keyframes blink {
    0% { box-shadow: 0em .0em .7em rgb(221, 63, 238); }
    50% { box-shadow: none; }
    50% { box-shadow: none; }
    100% { box-shadow: 0em .0em 1em rgb(215, 18, 237); }
}

@-webkit-keyframes blink {
    0% { box-shadow: 0em .0em .7em rgb(221, 63, 238); }
    25% { box-shadow: 0 0 0; }
    50% { box-shadow: 0 0 0; }
    100% { box-shadow: 0em .0em 1em rgb(215, 18, 237); }
}

.profile--title{
    width: 35%;
    border: 2px solid green;
    outline: 1px dashed white;
    outline-offset: -3px;
    background-color: green;
    margin-left: 33%;
    text-align: center;
    font-family: 'Silkscreen', cursive;
    color: rgb(182, 64, 228);
    text-shadow: .5em .3em .4em rgba(25,25,25, 0.5);
    
    -webkit-animation: blink 5.0s linear infinite;
    -moz-animation: blink 5.0s linear infinite;
    -ms-animation: blink 5.0s linear infinite;
    -o-animation: blink 5.0s linear infinite;
    animation: blink 5.0s linear infinite;
}

.profile--title::after{
    content:"";
}

.profile--description{
    border: 1px solid purple;
    margin: 5px 10px;
    padding: 5px;
}