.windowTracker{
    background-color: rgba(27, 27, 27, 0.813);
}

.windowTracker--title{
    text-align: center;
    margin-top: 1rem;
    padding-top: .8rem;
    font-family: 'Silkscreen', cursive;
    color: rgb(182, 64, 228);
    text-shadow: .5em .4em .2em rgba(12,12,12, 0.5);
}

.windowTracker--width, .windowTracker--height{
    color: white;
    margin: 12px;
    padding: .4rem;
}

.windowTracker--height{
    padding-bottom: 1.2rem;
}